body {
  margin: 0;
  padding: 0;
  background: url(../IMG/bn.png) center fixed ;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  color: #ffffff;
}
h1, h2 ,p{
  margin: 0px;
}
h1{font-size: 32px;}
h2{font-size: 20px;}
p{font-size: 13px;}

/* pantalla de carga*/
.pantalla-carga{
  z-index: 3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  visibility: hidden;
}

.pantalla-carga.visible{
  opacity: 1;
  visibility: visible;
}

.cargando-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.cargando-conteiner .cargando{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: solid 6px transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-radius: 50%;
  animation: cargador 1.2s linear infinite;
  /* animation-duration: 5s; */
}

section.pantalla-carga > div{
  display: flex;
}

@keyframes cargador {
  0%{
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
      transform: translate(-50%, -50%) rotate(360deg);
  }
}


/*------------------------------------*/
.login-box {
  z-index: 1;
  width: 400px;
  height: auto;
  background: #000;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  left: calc(50% - 50px);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 50px 30px 30px 30px;
}

form > section{margin: 5%;}

section.IniciarSesion > a{
  color: #ffffff;
  text-decoration: none;
}
section.IniciarSesion{
  margin-bottom: 4px;
}
  
.login-box > .avatar {
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 0px;
  text-align: center;
}

.logUser{
  background: var(--blancos-25, rgba(255, 255, 255, 0.25));
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 5%;
}

.login-box > form > section.logUser > label {
  margin: 0;
  padding: 0 0 1px 3px;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  height: 25px;
  background: var(--blancos-75, rgba(255, 255, 255, 0.90));
  border: transparent;
  border-radius: 10px;
  margin-bottom: 15px;
}

.login-box input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.75);
  padding-left: 3px;
  font-size: 13px;
}

section.logUser > div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.logUser > div > button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  background: #1D467F;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

section.logUser div button:hover {
  cursor: pointer;
  background: #4D72A4;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
}

.efecto:hover, .efecto:focus, .efecto:active{
  animation-name: efectoButon;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes efectoButon{
  17%{transform: translateY(8px);}
  34%{transform: translateY(-6px);}
  50%{transform: translateY(4px);}
  67%{transform: translateY(-2px);}
  84%{transform: translateY(1px);}
  100%{transform: translateY(0px);}
} 


/*listo ---------------------------------*/
.logSocial{
  background: var(--blancos-25, rgba(255, 255, 255, 0.25));
  border-radius: 10px;
  border: 2px solid #fff;
  margin-top: 0px;
}

.logSocial > div{
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 25px;
  margin: 10px;
}

.logSocial > div > a{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}



.logSocial > div > a > p{
  position: relative;
  left: 12px;
}

.logSocial .googleIMG, .logSocial .FaceIMG{
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  right: 2.5px;
}


